# snippet mx "margin-left-right" b
# margin-left: $1;
# margin-right: $1;
# $0
# endsnippet


# snippet my "margin-top-bottom" b
# margin-top: $1;
# margin-bottom: $1;
# $0
# endsnippet

# snippet px "padding-left-right" b
# padding-left: $1;
# padding-right: $1;
# $0
# endsnippet


# snippet py "padding-top-bottom" b
# padding-top: $1;
# padding-bottom: $1;
# $0
# endsnippet

